<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anyera</title>
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon" sizes="72x72">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon" sizes="76x76">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon" sizes="144x144">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon" sizes="152x152">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
  <link href="img/apple-touch-icon-192x192.png" rel="apple-touch-icon" sizes="192x192">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <meta name="msapplication-TileImage" content="img/apple-touch-icon.png">
  <link href="img/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
  <link href="img/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
  <link href="img/favicon.ico" rel="shortcut icon">
  <link href="img/site.webmanifest" rel="manifest">
  <link rel="stylesheet" href="css/swiper.min.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/blog.css">
  <link rel="stylesheet" href="css/newfonts.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/ru/all.css?v=2f74b6273bbf">

  <!-- <script>window.console = window.console || function(t) {};</script> -->
</head>
<body>
  <div class="cursor">
    <div class="cursor__block">
      <div class="cursor__wrapper">
        <div class="cursor__text cursor__text_slider">
          <p>
            <svg width="80" height="26" viewBox="0 0 80 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.545556 14.0454C-0.18185 13.5274 -0.181853 12.4726 0.545553 11.9546L16.9788 0.253285C17.8607 -0.374635 19.1034 0.236825 19.1034 1.29864V24.7014C19.1034 25.7632 17.8607 26.3746 16.9788 25.7467L0.545556 14.0454Z" fill="currentColor"/>
              <path d="M79.4544 14.0454C80.1819 13.5274 80.1819 12.4726 79.4544 11.9546L63.0212 0.253285C62.1393 -0.374635 60.8966 0.236825 60.8966 1.29864V24.7014C60.8966 25.7632 62.1393 26.3746 63.0212 25.7467L79.4544 14.0454Z" fill="currentColor"/>
              <path d="M45.9705 13.2336C45.9705 16.4353 43.2974 19.0308 40 19.0308C36.7026 19.0308 34.0295 16.4353 34.0295 13.2336C34.0295 10.0318 36.7026 7.43635 40 7.43635C43.2974 7.43635 45.9705 10.0318 45.9705 13.2336Z" fill="currentColor"/>
            </svg>
          </p>
        </div>
        <div class="cursor__text cursor__text_showreel"><p>ОТКРЫТЬ</p></div>
      </div>
      <div class="cursor__left"></div>
      <div class="cursor__right"></div>
    </div>
  </div>
  <header class="header">
    <div class="container header__container">
      <div class="header__block">
        <div class="header__flex">
        <a class="header__logo" href="index.html">
          <svg width="204.000000" 
              height="20.064819" 
              viewBox="0 0 204 20.0648" 
              fill="none" 
              xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs/>
            <path 
              id="Vector" 
              d="M54.11 12.1L43.79 0.04L39.81 0.03L39.79 19.9L39.79 19.86L44.54 13.88L44.55 7.85L49.73 13.88L52.31 16.9L54.9 19.92L58.85 19.92L58.86 9.99L58.87 5.02L58.87 0.05L58.87 0.06L54.11 6.07L54.11 12.1Z" 
              fill="currentColor" 
              fill-opacity="1.000000" 
              fill-rule="nonzero"/>
            <path 
              id="Vector" 
              d="M91.78 0.09L86.2 8.9L80.66 0.08L75.54 0.07L83.54 12.87L83.54 17.52L88.39 19.93L88.39 19.93L88.39 16.51L88.39 12.87L96.51 0.09L91.78 0.09Z" 
              fill="currentColor" 
              fill-opacity="1.000000" 
              fill-rule="nonzero"/>
            <path 
              id="Vector" 
              d="M159.6 13.63C160.87 13.12 161.95 12.27 162.71 11.18C163.44 10.11 163.81 8.84 163.81 7.36C163.81 5.87 163.45 4.58 162.72 3.5C161.96 2.4 160.88 1.53 159.61 1.01C158.27 0.44 156.67 0.15 154.82 0.14L145.85 0.13L150.64 3.88L145.84 10.82L145.84 15.04L145.83 20L150.63 20.01L150.63 17.24L150.63 14.47L154.81 14.47L155.03 14.47L159 20.01L164.18 20.02L159.56 13.64L159.6 13.63ZM157.86 4.8C158.59 5.41 158.96 6.26 158.95 7.36C158.95 8.43 158.59 9.28 157.86 9.9C157.13 10.52 156.02 10.82 154.54 10.82L150.64 10.81L150.64 3.88L154.55 3.88C156.03 3.89 157.13 4.19 157.86 4.8L157.86 4.8Z" 
              fill="currentColor" 
              fill-opacity="1.000000" 
              fill-rule="nonzero"/>
            <path 
              id="Vector" 
              d="M9.2 0L4.6 9.93L0 19.86L4.88 19.87L11.52 4.52L16.23 15.5L11.56 15.49L18.1 19.88L23.11 19.89L18.51 9.95L13.91 0.01L9.2 0Z" 
              fill="currentColor" 
              fill-opacity="1.000000" 
              fill-rule="nonzero"/>
            <rect 
              id="Прямоугольник 1" x="11.660889" y="11.335083" width="10.365860" height="4.152441" fill="#FEFEFE" fill-opacity="1.000000"/>
            <path 
              id="Vector" 
              d="M194.78 0.18L190.07 0.18L180.86 20.04L185.75 20.04L192.39 4.7L197.09 15.67L192.42 15.67L198.97 20.06L203.97 20.06L194.78 0.18Z" 
              fill="currentColor" 
              fill-opacity="1.000000" 
              fill-rule="nonzero"/>
            <rect 
              id="Прямоугольник 1" x="192.197021" y="11.571411" width="10.365860" height="4.152441" fill="#FEFEFE" fill-opacity="1.000000"/>
            <rect 
              id="Прямоугольник 1" x="141.588013" y="3.895386" width="10.365860" height="6.901029" transform="rotate(-1.51247e-06 141.588013 3.895386)" fill="#FEFEFE" fill-opacity="1.000000"/>
            <path 
              id="Vector" d="M116.63 16.19L113.18 19.86L129.14 19.88L129.15 16.19L116.63 16.19Z" 
              fill="currentColor" 
              fill-opacity="1.000000" 
              fill-rule="nonzero"/>
            <path 
              id="Vector" 
              d="M117.91 11.62L127.49 11.63L127.49 8.05L117.92 8.04L117.92 8.04L116.37 8.05L113.42 9.88L116.37 11.62L117.91 11.62Z" 
              fill="currentColor" 
              fill-opacity="1.000000" 
              fill-rule="nonzero"/>
            <path 
              id="Vector" 
              d="M117.91 3.94L117.91 3.94L117.91 3.94L117.91 3.93L117.91 3.93L128.75 3.94L128.76 0.24L112.99 0.24L116.41 3.94L117.91 3.94L116.28 3.94L116.28 3.94L116.28 3.94L117.91 3.94Z" 
              fill="currentColor" 
              fill-opacity="1.000000" 
              fill-rule="nonzero"/>
          </svg> 
        </a>

          <div class="header__right">
            <div class="header__butons">
              <button class="btn btn_new button__primary">
                <span class="button__text button_font">Перейти на сайт</span>
              </button>
              <button class="button__arrow">
                <svg width="24.000000" height="24.000000" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs>
                    <clipPath id="clip3053_10082">
                      <rect id="Arrows/arrow-right-up" width="24.000000" height="24.000000" fill="currentColor" fill-opacity="0"/>
                    </clipPath>
                  </defs>
                  <g clip-path="url(#clip3053_10082)">
                    <path id="Vector (Stroke)" d="M8.75 5.5C8.75 5.08 9.08 4.75 9.5 4.75L18.5 4.75C18.91 4.75 19.25 5.08 19.25 5.5L19.25 14.5C19.25 14.91 18.91 15.25 18.5 15.25C18.08 15.25 17.75 14.91 17.75 14.5L17.75 6.25L9.5 6.25C9.08 6.25 8.75 5.91 8.75 5.5Z" fill="currentColor"  fill-opacity="1.000000" fill-rule="evenodd"/>
                    <path id="Vector (Stroke)" d="M19.02 4.96C19.32 5.26 19.32 5.73 19.02 6.03L6.3 18.75C6 19.05 5.53 19.05 5.24 18.75C4.94 18.46 4.94 17.99 5.24 17.69L17.96 4.96C18.26 4.67 18.73 4.67 19.02 4.96Z" fill="currentColor"  fill-opacity="1.000000" fill-rule="evenodd"/>
                  </g>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="main" data-scroll-container>
    <section class="other_top"></section>
    <section class="hero">
        <div class="container hero__container">
            <div class="hero__block">
                <div class="hero__flex">
                    <div class="hero__left">
                      <div class="hero__info">
                        <p class="hero__info_about_us text_font">About us</p>
                        <h3 class="hero__info_head title_three">Разрабатываем <span>Digital</span> продукты</h3>
                          <p class="hero__info_desc text_font">Мы — капсульная IT-компания, разрабатывающая веб-сервисы для повышения узнаваемости и 
                            эффективности бизнеса через эстетичный дизайн. Наш формат позволяет фокусировать экспертизу 
                            и оперативно реализовывать проекты любой сложности.                          
                            <br><br>Изучаем бизнес клиентов, анализируем конкурентов и аудиторию, 
                            чтобы создавать индивидуальные цифровые продукты. 
                            Клиенты вовлечены на всех этапах и получают презентационные материалы и видеоскринкасты 
                            для полной прозрачности процессов.  
                            <br><br>                     
                          </p>
                      </div>  
                    </div>
                    <div class="hero__right">
                      <div class="hero__content">
                        <div class= "hero__card">
                          <a href="#" class="hero__card_link">
                          <div class="hero__card_info">
                            <p class="card card_font_desc">Нужна <br> обратная связь <br> или наши контакты?</p>
                            <p class="card_font_rubik">Пишите нам на почту: <br> <span class="card card_font_head">hello@anyera.one</span></p>
                            <p class="card_font_title">Контакты</p>
                          </div>
                          <div class="hero__card_arrow">
                            <svg width="36.000000" height="36.000000" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g clip-path="url(#clip3492_3666)">
                                <path id="Vector (Stroke)" d="M16.1 14.2C16.1 13.96 16.29 13.77 16.54 13.77L21.79 13.77C22.03 13.77 22.22 13.96 22.22 14.2L22.22 19.45C22.22 19.7 22.03 19.89 21.79 19.89C21.55 19.89 21.35 19.7 21.35 19.45L21.35 14.64L16.54 14.64C16.29 14.64 16.1 14.45 16.1 14.2Z" fill="currentColor"fill-opacity="1.000000" fill-rule="evenodd"/>
                                <path id="Vector (Stroke)" d="M22.1 13.89C22.27 14.06 22.27 14.34 22.1 14.51L14.67 21.94C14.5 22.11 14.22 22.11 14.05 21.94C13.88 21.77 13.88 21.49 14.05 21.32L21.48 13.89C21.65 13.72 21.92 13.72 22.1 13.89Z" fill="currentColor" fill-opacity="1.000000" fill-rule="evenodd"/>
                              </g>
                            </svg>  
                          </div>
                          <div class="hero__card_figurines">
                            <img src="./img/home/figurines_4.png" alt="figurines"/>
                          </div>
                        </a>
                        </div>
                        <div class="hero__card">
                          <a href="#" class="hero__card_link">
                          <div class="hero__card_info">
                            <p class="card card_font_desc">Рассчитайте <br> предварительную <br> стоимость вашего <br> проекта </p>
                            <p class="card_font_title">Калькулятор</p>
                          </div>
                          <div class="hero__card_arrow">
                            <svg width="36.000000" height="36.000000" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g clip-path="url(#clip3492_3666)">
                                <path id="Vector (Stroke)" d="M16.1 14.2C16.1 13.96 16.29 13.77 16.54 13.77L21.79 13.77C22.03 13.77 22.22 13.96 22.22 14.2L22.22 19.45C22.22 19.7 22.03 19.89 21.79 19.89C21.55 19.89 21.35 19.7 21.35 19.45L21.35 14.64L16.54 14.64C16.29 14.64 16.1 14.45 16.1 14.2Z" fill="currentColor" fill-opacity="1.000000" fill-rule="evenodd"/>
                                <path id="Vector (Stroke)" d="M22.1 13.89C22.27 14.06 22.27 14.34 22.1 14.51L14.67 21.94C14.5 22.11 14.22 22.11 14.05 21.94C13.88 21.77 13.88 21.49 14.05 21.32L21.48 13.89C21.65 13.72 21.92 13.72 22.1 13.89Z" fill="currentColor" fill-opacity="1.000000" fill-rule="evenodd"/>
                              </g>
                            </svg>  
                          </div>
                          <div class="hero__card_figurines">
                            <img src="./img/home/figurines_3.png" alt="figurines"/>
                          </div>
                        </a>
                        </div>
                        <div class="hero__card">
                          <a href="#" class="hero__card_link">
                          <div class="hero__card_info">
                            <p class="card card_font_desc">Чем  можем <br> помочь?</p>
                            <p class="card_font_title">Разрабатываем</p>
                          </div>
                          <div class="hero__card_arrow">
                            <svg width="36.000000" height="36.000000" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g clip-path="url(#clip3492_3666)">
                                <path id="Vector (Stroke)" d="M16.1 14.2C16.1 13.96 16.29 13.77 16.54 13.77L21.79 13.77C22.03 13.77 22.22 13.96 22.22 14.2L22.22 19.45C22.22 19.7 22.03 19.89 21.79 19.89C21.55 19.89 21.35 19.7 21.35 19.45L21.35 14.64L16.54 14.64C16.29 14.64 16.1 14.45 16.1 14.2Z" fill="currentColor" fill-opacity="1.000000" fill-rule="evenodd"/>
                                <path id="Vector (Stroke)" d="M22.1 13.89C22.27 14.06 22.27 14.34 22.1 14.51L14.67 21.94C14.5 22.11 14.22 22.11 14.05 21.94C13.88 21.77 13.88 21.49 14.05 21.32L21.48 13.89C21.65 13.72 21.92 13.72 22.1 13.89Z" fill="currentColor" fill-opacity="1.000000" fill-rule="evenodd"/>
                              </g>
                            </svg>  
                          </div>
                          <div class="hero__card_figurines">
                            <img src="./img/home/figurines_1.png" alt="figurines"/>
                          </div>
                        </a>
                        </div>
                        
                        <div class="hero__card text_font">
                          <p><span>Команда 6+</span> экспертов от аналитиков
                            и дизайнеров до разработчиков.</p>
                            <div class="hero__card_team">
                              <img src="img/team/photo1.png">
                              <img src="img/team/photo2.png">
                              <img src="img/team/photo3.png">
                              <img src="img/team/photo4.png">
                              <img src="img/team/photo5.png">
                            </div>
                          <p class="hero__card_team_text">Мы не берем большое количество проектов, 
                            но к каждому относимся <br> как к своему.</p>
                        </div>
                     
                      </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
  </main>


  <script>
  document.addEventListener("DOMContentLoaded", (event) => {
    //   document.body.classList.add('loaded_hiding');
    //   document.querySelector('.preloader__top').style.top = "-50%";
    //   document.querySelector('.preloader__bottom').style.top = "100%";
    //   window.scrollTo(0,0);
    //   window.setTimeout(function () {
        document.body.classList.add('loaded');
    //     document.body.classList.remove('loaded_hiding');
    //     document.querySelector('.preloader').style.display = "none";
    //   }, 500);
  });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/form.js"></script>
  <script src="js/scroll.js"></script>
  <script src="js/scrollbar.js"></script>
  <script src="js/textarea.js"></script>
  <script src="js/particles.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>