{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="top" data-scroll-section id="top"></section>
<section class="articles_page" data-scroll-section>
  <div class="container articles_page__container">
    <div class="articles_page__block">
      <h1 class="articles_page__head">МЕДИА</h1>
      <p class="articles_page__desc">Рассказываем о digital-трендах и о мире цифровизации. Делимся личным опытом и кейсами.</p>
      <!-- <div class="articles_page__checks">
        <label class="btn checkbox articles_page__check active"><span class="button__text">Все статьи</span><span class="button__hover"></span><input class="checkbox__input articles_page__check_input" name="type" type="radio" checked=""></label>
        {% for theme in themes %}
        <label class="btn checkbox articles_page__check"><span class="button__text">{{ theme.name }}</span><span class="button__hover"></span><input class="checkbox__input articles_page__check_input" name="type" type="radio" value="{{ theme.id }}"></label>
        {% endfor %}
      </div> -->
    </div>
    <div class="articles_page__divider"></div>
  </div>
  <div class="container articles_page__list_container">
    <ul class="articles__list articles__list_new">
      {% for article in articles %}
      <li class="articles__item animate">
        <a href="/articles/{{ article.code }}" class="articles__link">
          <div class="articles__image">
            <img src="/media/{{ article.preview_img }}" alt="">
          </div>
          <div class="articles__info">
            <h4 class="articles__head">{{ article.title }}</h4>
            <p class="articles__desc">
              {% for theme in article.theme.all %} 
              {{ theme }}
              {% endfor %}
            </p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="articles_page__bogttom">
      <button class="btn btn_new articles_page__button">
        <span class="button__text">Показать еще статьи</span>
      </button>
    </div>
  </div>
</section>
{% endblock %}