{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="top" data-scroll-section id="top"></section>
<section class="articles_page" data-scroll-section>
  <div class="container articles_page__container">
    <div class="articles_page__block">
      <h1 class="articles_page__head">МЕДИА</h1>
      <p class="articles_page__desc">Рассказываем о digital-трендах и о мире цифровизации. Делимся личным опытом и кейсами.</p>
      <!-- <div class="articles_page__checks">
        <label class="btn checkbox articles_page__check active"><span class="button__text">Все статьи</span><span class="button__hover"></span><input class="checkbox__input articles_page__check_input" name="type" type="radio" checked=""></label>
        {% for theme in themes %}
        <label class="btn checkbox articles_page__check"><span class="button__text">{{ theme.name }}</span><span class="button__hover"></span><input class="checkbox__input articles_page__check_input" name="type" type="radio" value="{{ theme.id }}"></label>
        {% endfor %}
      </div> -->
    </div>
    <div class="articles_page__divider"></div>
  </div>
  <div class="container articles_page__list_container">
    <ul class="articles_page__list">
      {% for article in articles %}
      <li class="articles_page__item">
        <a href="/articles/{{ article.id }}" class="articles_page__link">
          <div class="articles_page__image">
            <img src="/media/{{ article.preview_img }}" alt="">
            <div class="btn__arrow articles_page__arrow">
              <div class="btn__side btn__side_hover">
                <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.928932 0.928993C0.65279 0.928993 0.428932 1.15285 0.428932 1.42899L0.428932 5.92899C0.428932 6.20514 0.65279 6.42899 0.928932 6.42899C1.20507 6.42899 1.42893 6.20514 1.42893 5.92899L1.42893 1.92899L5.42893 1.92899C5.70507 1.92899 5.92893 1.70514 5.92893 1.42899C5.92893 1.15285 5.70507 0.928993 5.42893 0.928993L0.928932 0.928993ZM8.35355 8.14651L1.28249 1.07544L0.575379 1.78255L7.64645 8.85361L8.35355 8.14651Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="btn__side btn__side_default">
                <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.928932 0.928993C0.65279 0.928993 0.428932 1.15285 0.428932 1.42899L0.428932 5.92899C0.428932 6.20514 0.65279 6.42899 0.928932 6.42899C1.20507 6.42899 1.42893 6.20514 1.42893 5.92899L1.42893 1.92899L5.42893 1.92899C5.70507 1.92899 5.92893 1.70514 5.92893 1.42899C5.92893 1.15285 5.70507 0.928993 5.42893 0.928993L0.928932 0.928993ZM8.35355 8.14651L1.28249 1.07544L0.575379 1.78255L7.64645 8.85361L8.35355 8.14651Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
          </div>
          <div class="articles_page__info">
            <p class="articles_page__heading">{{ article.title }}</p>
            <p class="articles_page__description">
              {% for theme in article.theme.all %} 
              {{ theme }}
              {% endfor %}
            </p>

          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="articles_page__bogttom">
      <button class="btn articles_page__button">
        <span class="button__text">Показать еще статьи</span>
        <span class="button__hover"></span>
      </button>
    </div>
  </div>
</section>
{% endblock %}