{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="project_top" data-scroll-section id="top">
  <div class="container project_top__container">
    <div id="project_top__star" class="project_top__star"></div>
    <div class="project_top__block">
      <div class="project_top__info article_top__info">
        <div class="project_top__info_block">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link text">Главная</a></li>
            <li class="breadcrumbs__item"><a href="/articles/" class="breadcrumbs__link text">Медиа</a></li>
            <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link text">{{ article.title }}</a></li>
          </ul>
          <h1 class="project_top__desc_new">{{ article.title }}</h1>
          <p class="project_top__desc_new">{{ article.preview }}</p>
        </div>
        <div class="project_top__info_flex">
          <div class="project_top__info_tags">
            {% for theme in article.theme.all %} 
            <p class="project_top__info_tag">#{{ theme }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="article" data-scroll-section data-persistent data-scroll-section-inview>
  <div class="container article__container" id="article__fixed">
    <div class="article__info">
      <div class="article__info_left">
        <div class="article__info_sticky" data-scroll data-scroll-sticky data-scroll-target="#article__fixed">
          <div class="article__info_block" data-scroll>
            {% for block in blocks.all %} 
            <a data-scroll-to href="#article_{{ block.order }}" class="article__heading text text__big"><h4>{{ block.name }}</h4></a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="article__info_right">
       {% for block in blocks.all %} 
        <div class="article__info_flex" id="article_{{ block.order }}">
          <h3 class="article__head">{{ block.name }}</h3>
          <div class="article__desc">{{ block.text|safe }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="article__divider"></div>
</section>
<section class="articles" data-scroll-section>
  <div class="container articles__container">
    <div class="articles__block">
      <div class="articles__top">
        <h3 class="articles__head">Похожие статьи</h3>
        <a href="/articles/" class="btn btn_new articles__project">
          <span class="button__text">НАШ БЛОГ</span>
        </a>
      </div>
      <div class="articles__slider">
        <div class="articles__swiper swiper">
          <ul class="articles__list swiper-wrapper">
            {% for other in other_articles %}
              <li class="articles__item swiper-slide">
                <a href="/article/{{ other.id }}/" class="articles__link">
                  <div class="articles__image">
                    <img src="/media/{{ other.preview_img }}" alt="">
                    <span class="articles__date">{{ other.created_at }}</span>
                  </div>
                  <div class="articles__info">
                    <h4 class="articles__head">{{ other.title }}</h4>
                    <p class="articles__desc">{{ other.preview }}</p>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="swiper-button-next articles__next">
          <div class="btn__arrow">
            <div class="btn__side btn__side_hover">
              <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.8181 4.8892C11.0134 4.69394 11.0134 4.37735 10.8181 4.18209L7.63611 1.00011C7.44085 0.804849 7.12427 0.804849 6.929 1.00011C6.73374 1.19537 6.73374 1.51196 6.929 1.70722L9.75743 4.53564L6.929 7.36407C6.73374 7.55933 6.73374 7.87592 6.929 8.07118C7.12427 8.26644 7.44085 8.26644 7.63611 8.07118L10.8181 4.8892ZM0.464539 5.03564L10.4645 5.03564V4.03564L0.464539 4.03564L0.464539 5.03564Z" fill="currentColor"/>
              </svg>
            </div>
            <div class="btn__side btn__side_default">
              <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.8181 4.8892C11.0134 4.69394 11.0134 4.37735 10.8181 4.18209L7.63611 1.00011C7.44085 0.804849 7.12427 0.804849 6.929 1.00011C6.73374 1.19537 6.73374 1.51196 6.929 1.70722L9.75743 4.53564L6.929 7.36407C6.73374 7.55933 6.73374 7.87592 6.929 8.07118C7.12427 8.26644 7.44085 8.26644 7.63611 8.07118L10.8181 4.8892ZM0.464539 5.03564L10.4645 5.03564V4.03564L0.464539 4.03564L0.464539 5.03564Z" fill="currentColor"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev articles__prev">
          <div class="btn__arrow">
            <div class="btn__side btn__side_hover">
              <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.11099 4.18209C0.915723 4.37735 0.915723 4.69394 1.11099 4.8892L4.29297 8.07118C4.48823 8.26644 4.80481 8.26644 5.00007 8.07118C5.19533 7.87592 5.19533 7.55933 5.00007 7.36407L2.17165 4.53564L5.00007 1.70722C5.19533 1.51196 5.19533 1.19537 5.00007 1.00011C4.80481 0.804849 4.48823 0.804849 4.29297 1.00011L1.11099 4.18209ZM11.4645 4.03564L1.46454 4.03564V5.03564L11.4645 5.03564V4.03564Z" fill="currentColor"/>
              </svg>
            </div>
            <div class="btn__side btn__side_default">
              <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.11099 4.18209C0.915723 4.37735 0.915723 4.69394 1.11099 4.8892L4.29297 8.07118C4.48823 8.26644 4.80481 8.26644 5.00007 8.07118C5.19533 7.87592 5.19533 7.55933 5.00007 7.36407L2.17165 4.53564L5.00007 1.70722C5.19533 1.51196 5.19533 1.19537 5.00007 1.00011C4.80481 0.804849 4.48823 0.804849 4.29297 1.00011L1.11099 4.18209ZM11.4645 4.03564L1.46454 4.03564V5.03564L11.4645 5.03564V4.03564Z" fill="currentColor"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}