{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="top" data-scroll-section id="top"></section>
<section class="certificates" data-scroll-section>
  <div class="container certificates__container">
    <div class="certificates__block">
      <h1 class="certificates__head">СЕРТИФИКАТЫ</h1>
      <p class="certificates__desc">Мы подтверждаем свои компетенции и профессионализм с помощью сертификатов, с которыми можно ознакомиться ниже.</p>
    </div>
  </div>
  <div class="certificates__divider"></div>
  <div class="container certificates__container">
    <div class="certificates__flex">
      <div class="certificates__info">
        <h4 class="certificates__heading">Сертифицированный партнер 1С-Битрикс</h4>
        <div class="certificates__buttons">
          <a href="{% static '/img/main/certificates.webp' %}" target="_blank" class="btn btn_new certificates__button">
            <span class="button__text">Открыть pdf</span>
          </a>
          <a href="{% static '/img/main/certificates.webp' %}" download class="btn btn_new certificates__button">
            <span class="button__text">Скачать pdf</span>
          </a>
        </div>
      </div>
      <div class="certificates__image">
        <img src="{% static '/img/main/certificates.webp' %}" alt="">
      </div>
    </div>
  </div>
  <div class="certificates__divider"></div>
  <div class="container certificates__container">
    <div class="certificates__flex">
      <div class="certificates__info">
        <h4 class="certificates__heading">Сертификат о присвоении компетенции «Системное администрирование и эксплуатация»</h4>
        <div class="certificates__buttons">
          <a href="{% static '/img/main/certificates.webp' %}" target="_blank" class="btn btn_new certificates__button">
            <span class="button__text">Открыть pdf</span>
          </a>
          <a href="{% static '/img/main/certificates.webp' %}" download class="btn btn_new certificates__button">
            <span class="button__text">Скачать pdf</span>
          </a>
        </div>
      </div>
      <div class="certificates__image">
        <img src="{% static '/img/main/certificates.webp' %}" alt="">
      </div>
    </div>
  </div>
  <div class="certificates__divider"></div>
  <div class="container certificates__container">
    <div class="certificates__flex">
      <div class="certificates__info">
        <h4 class="certificates__heading">Сертификат о присвоении компетенции «Крупные корпоративные внедрения» расширенного уровня</h4>
        <div class="certificates__buttons">
          <a href="{% static '/img/main/certificates.webp' %}" target="_blank" class="btn btn_new certificates__button">
            <span class="button__text">Открыть pdf</span>
          </a>
          <a href="{% static '/img/main/certificates.webp' %}" download class="btn btn_new certificates__button">
            <span class="button__text">Скачать pdf</span>
          </a>
        </div>
      </div>
      <div class="certificates__image">
        <img src="{% static '/img/main/certificates.webp' %}" alt="">
      </div>
    </div>
  </div>
  <div class="certificates__divider"></div>
</section>
{% endblock %}