{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="top" data-scroll-section id="top"></section>
<section class="competencies" data-scroll-section>
  <div class="container competencies__container">
    <div class="competencies__block">
      <h1 class="competencies__head">КОМПЕТЕНЦИИ</h1>
      <p class="competencies__desc">При разработке сайтов используем уникальную технологию «1С-Битрикс: Управление сайтом» и интегрируем сайт с системами «1С:Предприятие».</p>
    </div>
  </div>
  <div class="competencies__divider"></div>
  <div class="container competencies__container">
    <div class="competencies__bottom">
      <div class="competencies__image">
        <h3 class="competencies__hedading">Композитный сайт</h3>
        <img src="{% static 'img/competencies/competencies_1.webp' %}" alt="">
      </div>
      <div class="competencies__flex">
        <div class="competencies__info">
          <p class="competencies__description">
            Уникальная технология производства сайтов объединяет в себе высокую скорость загрузки статического сайта и все возможности динамического сайта. Пользователь мгновенно получает контент страницы.<br>
            По композитной технологии могут работать все сайты, разработанные на платформе «1С-Битрикс: Управление сайтом».<br>
            «1С-Битрикс: Управление сайтом» - профессиональная система управления веб-проектами, универсальный инструмент для создания и управления современным интернет-проектом: корпоративных сайтов, интернет-магазинов, информационных порталов, сайтов сообществ, социальных сетей и других веб-проектов.
          </p>
        </div>
        <ul class="competencies__list">
          <li class="competencies__item">
            <p class="competencies__item_desc">Разделяем страницу на 2 соcтавляющие: статическуюи динамическую</p>
          </li>
          <li class="competencies__item">
            <p class="competencies__item_desc">Динамическая часть подгружается в фоновом режимеи кешируется в браузере посетителя</p>
          </li>
          <li class="competencies__item">
            <p class="competencies__item_desc">Статическая часть кешируется и отображается мгновенно</p>
          </li>
        </ul>
      </div>
      <a href="" class="btn competencies__button">
        <span class="button__text">Подробнее</span>
        <span class="button__hover"></span>
      </a>
    </div>
  </div>
  <div class="competencies__divider"></div>
  <div class="container competencies__container">
    <div class="competencies__bottom">
      <div class="competencies__image">
        <h3 class="competencies__hedading">Интеграция с «1С:Предприятие»</h3>
        <img src="{% static 'img/competencies/competencies_1.webp' %}" alt="">
      </div>
      <div class="competencies__flex">
        <div class="competencies__info">
          <p class="competencies__description">
            Интеграция сайта с системами «1С:Предприятие» необходима любому бизнесу, который работает с клиентами онлайн. Без неё интернет-магазин просто не может быть конкурентоспособным – обработка заказа будет занимать больше времени, чем клиент может позволить.<br>
            Обмен данными в реальном времени. Синхронизация может производиться не только по расписанию, но и в режиме реального времени. Обмен идет в обе стороны: из «1С» в интернет-магазин и наоборот.<br>
            Возможности интеграции «1С» и «1С-Битрикс: Управление сайтом». Интеграция позволит держать каталоги на сайте и в «1С» в актуальном состоянии. Менеджеру не придется создавать копии всех поступивших заказов в «1С» – вся информация о товарах и заказах будет синхронизована.
          </p>
        </div>
        <ul class="competencies__list">
          <li class="competencies__item">
            <p class="competencies__item_desc">Построение дерева каталогов</p>
          </li>
          <li class="competencies__item">
            <p class="competencies__item_desc">Выгрузка каталога товаров в «1С»</p>
          </li>
          <li class="competencies__item">
            <p class="competencies__item_desc">Многоскладовость</p>
          </li>
          <li class="competencies__item">
            <p class="competencies__item_desc">Мультиканальность взаимодействия с клиентом</p>
          </li>
          <li class="competencies__item">
            <p class="competencies__item_desc">Поддержка работы с SKU (Stock Keeping Unit)</p>
          </li>
          <li class="competencies__item">
            <p class="competencies__item_desc">Синхронизация справочников</p>
          </li>
          <li class="competencies__item">
            <p class="competencies__item_desc">Оптимизация загрузки/выгрузки</p>
          </li>
        </ul>
      </div>
      <a href="" class="btn competencies__button">
        <span class="button__text">Подробнее</span>
        <span class="button__hover"></span>
      </a>
    </div>
  </div>
</section>
{% endblock %}