{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="top" data-scroll-section id="top"></section>
<section class="hero" data-scroll-section>
  <div class="container hero__container">
    <div class="hero__block">
      <div class="hero__flex">
        <div class="hero__left">
          <div class="hero__info">
            <p class="hero__info_about_us text_font">Мы капсульная IT-компания.</p>
            <h3 class="hero__info_head title_three">{{ content.title|default:"Разрабатываем <span>Digital</span> продукты" }}</h3>
            <div class="hero__info_desc text_font">{{ content.description|safe|default:"<p>Повышаем узнаваемость бренда и эффективность бизнеса через дизайн и технологии. Анализируем ваш бизнес, ЦА, конкурентов. </p>" }}
            </div>
            <div class="hero__info_buttons">
              <a href="https://t.me/" target="_blank" class="btn btn_new hero__info_link">
                <span class="button__text">Связаться в Telegram</span>
              </a>
              <button class="showreel__button">
                Смотреть Showreel
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10.503052" height="10.502930" viewBox="0 0 10.5031 10.5029" fill="none">
                  <path id="Vector" d="M0.75 9.75L9.75 0.75M9.75 8.28L9.75 0.75L2.22 0.75" stroke="currentColor" stroke-opacity="1.000000" stroke-width="1.500000" stroke-linecap="round"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="hero__info_description">
            <p>Повышаем узнаваемость бренда и эффективность бизнеса через дизайн и технологии. Анализируем ваш бизнес, ЦА, конкурентов. </p>
            <h4>Ваш успех — наш приоритет.</h4>
          </div>
        </div>
        <div class="hero__right">
          <div class="hero__content">
            <div class= "hero__card">
              <a href="/projects/" class="hero__card_link">
              <div class="hero__card_info">
                <p class="hero__card_desc">Успешно запустили</p>
                <p class="hero__card_number title_three">150+</p>
                <p class="hero__card_title">Проектов</p>
              </div>
              <div class="hero__card_arrow">
                <svg width="36.000000" height="36.000000" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g clip-path="url(#clip3492_3666)">
                    <path id="Vector (Stroke)" d="M16.1 14.2C16.1 13.96 16.29 13.77 16.54 13.77L21.79 13.77C22.03 13.77 22.22 13.96 22.22 14.2L22.22 19.45C22.22 19.7 22.03 19.89 21.79 19.89C21.55 19.89 21.35 19.7 21.35 19.45L21.35 14.64L16.54 14.64C16.29 14.64 16.1 14.45 16.1 14.2Z" fill="currentColor"fill-opacity="1.000000" fill-rule="evenodd"/>
                    <path id="Vector (Stroke)" d="M22.1 13.89C22.27 14.06 22.27 14.34 22.1 14.51L14.67 21.94C14.5 22.11 14.22 22.11 14.05 21.94C13.88 21.77 13.88 21.49 14.05 21.32L21.48 13.89C21.65 13.72 21.92 13.72 22.1 13.89Z" fill="currentColor" fill-opacity="1.000000" fill-rule="evenodd"/>
                  </g>
                </svg>  
              </div>
            </a>
            </div>
            <div class="hero__card">
              <a href="/briefing/" class="hero__card_link">
              <div class="hero__card_info">
                <p class="hero__card_desc">Расскажите нам о своем бизнесе и мы поможем с решением его цифровых задач</p>
                <h4 class="hero__card_title">Брифинг</h4>
              </div>
              <div class="hero__card_arrow">
                <svg width="36.000000" height="36.000000" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g clip-path="url(#clip3492_3666)">
                    <path id="Vector (Stroke)" d="M16.1 14.2C16.1 13.96 16.29 13.77 16.54 13.77L21.79 13.77C22.03 13.77 22.22 13.96 22.22 14.2L22.22 19.45C22.22 19.7 22.03 19.89 21.79 19.89C21.55 19.89 21.35 19.7 21.35 19.45L21.35 14.64L16.54 14.64C16.29 14.64 16.1 14.45 16.1 14.2Z" fill="currentColor" fill-opacity="1.000000" fill-rule="evenodd"/>
                    <path id="Vector (Stroke)" d="M22.1 13.89C22.27 14.06 22.27 14.34 22.1 14.51L14.67 21.94C14.5 22.11 14.22 22.11 14.05 21.94C13.88 21.77 13.88 21.49 14.05 21.32L21.48 13.89C21.65 13.72 21.92 13.72 22.1 13.89Z" fill="currentColor" fill-opacity="1.000000" fill-rule="evenodd"/>
                  </g>
                </svg>  
              </div>
              <div class="hero__card_figurines">
                <img src="{% static 'img/home/figurines_3.png' %}" alt="figurines"/>
              </div>
            </a>
            </div>
            <div class="hero__card">
              <a href="/services/" class="hero__card_link">
                <div class="hero__card_info">
                  <p class="hero__card_desc">ЧЕМ  МОЖЕМ <br> ПОМОЧЬ?</p>
                  <p class="hero__card_desc">Startups launching<br>
                    Landing Page,   UI/UX design,<br>
                    Enterprise corp. sites ,   E-commerce<br>
                    Web-apps ,   Telegram bot's и Miniapps</p>
                  <h4 class="hero__card_title">Разрабатываем</h4>
                </div>
                <div class="hero__card_arrow">
                  <svg width="36.000000" height="36.000000" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g clip-path="url(#clip3492_3666)">
                      <path id="Vector (Stroke)" d="M16.1 14.2C16.1 13.96 16.29 13.77 16.54 13.77L21.79 13.77C22.03 13.77 22.22 13.96 22.22 14.2L22.22 19.45C22.22 19.7 22.03 19.89 21.79 19.89C21.55 19.89 21.35 19.7 21.35 19.45L21.35 14.64L16.54 14.64C16.29 14.64 16.1 14.45 16.1 14.2Z" fill="currentColor" fill-opacity="1.000000" fill-rule="evenodd"/>
                      <path id="Vector (Stroke)" d="M22.1 13.89C22.27 14.06 22.27 14.34 22.1 14.51L14.67 21.94C14.5 22.11 14.22 22.11 14.05 21.94C13.88 21.77 13.88 21.49 14.05 21.32L21.48 13.89C21.65 13.72 21.92 13.72 22.1 13.89Z" fill="currentColor" fill-opacity="1.000000" fill-rule="evenodd"/>
                    </g>
                  </svg>  
                </div>
                <div class="hero__card_figurines">
                  <img src="{% static 'img/home/figurines_1.png' %}" alt="figurines"/>
                </div>
              </a>
            </div>
            <div class="hero__card text_font">
              <h4 class="hero__card_head">Команда</h4>
              <p class="hero__card_desc"><span>10+</span> экспертов от аналитиков
                и дизайнеров до разработчиков.</p>
              <p class="hero__card_desc"><span>5+</span> лет средний коммерческий опыт.</p>
              <p class="hero__card_desc hero__card_comment">
                Мы не берем большое количество проектов
                и к каждому относимся как к своему.</p>
              <div class="hero__card_team">
                <img src="{% static 'img/team/team_1.webp' %}">
                <img src="{% static 'img/team/team_2.webp' %}">
                <img src="{% static 'img/team/team_3.webp' %}">
                <img src="{% static 'img/team/team_4.webp' %}">
                <img src="{% static 'img/team/team_5.webp' %}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="showreel__modal">
  <div class="showreel__modal_inner">
    <div class="showreel__video_responsive">
      <img src="{% static 'img/team/team_1.webp' %}" alt="">
    </div>
    <button class="button__close showreel__modal_close" aria-label="Закрыть видео">
      <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 21.3241L21.3241 1M1.42335 1L21.7475 21.3241" stroke="currentColor"/>
      </svg>
    </button>
  </div>
</div>
<section class="stack_scroll" data-scroll-section>
  <div class="container stack_scroll__container">
    <div class="stack_scroll__block">
      <ul class="stack_scroll__list ">
        <li class="stack_scroll__item">
          <div class="stack_scroll__link">
            <div class="stack_scroll__icon">
              <img src="{% static '/img/stack/JS.png' %}"  alt="icon"/>
            </div>
            <p class="body_long">JavaScript</p>
          </div>
        </li>
        <li class="stack_scroll__item">
          <div class="stack_scroll__link">
            <div class="stack_scroll__icon">
              <img src="{% static '/img/stack/TS.png' %}"  alt="icon"/>
            </div>
            <p class="body_long">TypeScript</p>
          </div>
        </li>
        <li class="stack_scroll__item">
          <div class="stack_scroll__link">
            <div class="stack_scroll__icon">
              <img src="{% static '/img/stack/Python.png' %}" alt="icon"/>
            </div>
            <p class="body_long">Python</p>
          </div>
        </li>
        <li class="stack_scroll__item">
          <div class="stack_scroll__link">
            <div class="stack_scroll__icon">
              <img src="{% static '/img/stack/React.png' %}" alt="icon"/>
            </div>
            <p class="body_long">React</p>
          </div>
        </li>
        <li class="stack_scroll__item">
          <div class="stack_scroll__link">
            <div class="stack_scroll__icon">
              <img src="{% static '/img/stack/Vue.png' %}" alt="icon"/>
            </div>
            <p class="body_long">Vue</p>
          </div>
        </li>
        <li class="stack_scroll__item">
          <div class="stack_scroll__link">
            <div class="stack_scroll__icon">
              <img src="{% static '/img/stack/Next.png' %}" alt="icon"/>
            </div>
            <p class="body_long">Next</p>
          </div>
        </li>
        <li class="stack_scroll__item">
          <div class="stack_scroll__link">
            <div class="stack_scroll__icon">
              <img src="{% static '/img/stack/Vite.png' %}" alt="icon"/>
            </div>
            <p class="body_long">Vite</p>
          </div>
        </li>
        <li class="stack_scroll__item">
          <div class="stack_scroll__link">
            <div class="stack_scroll__icon">
              <img src="{% static '/img/stack/Postgres.png' %}" alt="icon"/>
            </div>
            <p class="body_long">Postgres</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

{% if accordion %}
<section class="expertise" data-scroll-section>
  <div class="expertise__border"></div>
  <div class="container expertise__container">
    <div class="expertise__block">
      <div class="expertise__left">
        <div class="expertise__flex">
          <h2 class="expertise__head">{{ accordion.title }}</h2>
          <div class="expertise__desc">{{ accordion.description|safe }}</div>
        </div>
        <p class="expertise__arrow">
          Наши компетенции
          <span>
            <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM1 4.5L11 4.5V3.5L1 3.5V4.5Z" fill="currentColor"></path>
            </svg>
          </span>
        </p>
      </div>
      <div class="expertise__right">
        {% for item in accordion.accordion_items.all %}
        <button class="expertise__button">
          <h4 class="expertise__heading">{{ item.title }}</h4>
          <div class="btn__arrow expertise__btn">
            <div class="btn__side btn__side_hover">
              <svg width="37.222656" height="36.380859" viewBox="0 0 37.2227 36.3809" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs/>
                <rect id="stay=Default" width="37.185303" height="36.344238" transform="translate(37.185547 36.380859) rotate(-179.942764)" fill="#FFFFFF" fill-opacity="0"/>
                <path id="Линия 4" d="M27.81 9L9.41 27.37M28 27.18L9.41 27.37L9.21 9.2" stroke="#63606D" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
              </svg>
            </div>
            <div class="btn__side btn__side_default">
              <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs/>
                <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
        </button>
        <div class="expertise__panel">
          <div class="body_long">{{ item.content|safe }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}

{% for item in types_with_projects %}
  <section class="projects parallax" data-scroll-section>
    <div class="projects__block">
      <div class="container projects__container">
        <div class="projects__flex">
          <h3 class="projects__head">{{ item.type.name }}</h3>
          <div class="projects__right">
            <p class="projects__desc">{{ item.type.description }}</p>
            <button class="btn projects__button">
              <span class="button__text">Подробнее</span>
              <span class="button__hover"></span>
            </button>
          </div>
        </div>
        <ul class="projects__list">
          {% for project in item.projects %}
            <li class="projects__item">
              <a href="/projects/{{ project.id }}/" class="projects__link">
                <div class="projects__image">
                  <img src="/media/{{ project.intro_image }}" alt="">
                  <div class="btn__arrow projects__arrow">
                    <div class="btn__side btn__side_hover">
                      <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.928932 0.928993C0.65279 0.928993 0.428932 1.15285 0.428932 1.42899L0.428932 5.92899C0.428932 6.20514 0.65279 6.42899 0.928932 6.42899C1.20507 6.42899 1.42893 6.20514 1.42893 5.92899L1.42893 1.92899L5.42893 1.92899C5.70507 1.92899 5.92893 1.70514 5.92893 1.42899C5.92893 1.15285 5.70507 0.928993 5.42893 0.928993L0.928932 0.928993ZM8.35355 8.14651L1.28249 1.07544L0.575379 1.78255L7.64645 8.85361L8.35355 8.14651Z" fill="currentColor"></path>
                      </svg>
                    </div>
                    <div class="btn__side btn__side_default">
                      <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.928932 0.928993C0.65279 0.928993 0.428932 1.15285 0.428932 1.42899L0.428932 5.92899C0.428932 6.20514 0.65279 6.42899 0.928932 6.42899C1.20507 6.42899 1.42893 6.20514 1.42893 5.92899L1.42893 1.92899L5.42893 1.92899C5.70507 1.92899 5.92893 1.70514 5.92893 1.42899C5.92893 1.15285 5.70507 0.928993 5.42893 0.928993L0.928932 0.928993ZM8.35355 8.14651L1.28249 1.07544L0.575379 1.78255L7.64645 8.85361L8.35355 8.14651Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="projects__info">
                  <h4 class="projects__heading">{{ project.name }}</h4>
                  <p class="projects__description">{{ project.intro_text }}</p>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endfor %}
<section class="articles" data-scroll-section>
  <div class="container articles__container">
    <div class="articles__block">
      <div class="articles__flex">
        <div class="articles__top">
          <h3 class="articles__head">Статьи</h3>
          <p class="projects__desc">Здесь вы найдёте актуальную информацию о последних тенденциях в мире digital, советы по продвижению бизнеса в интернете, а также интересные материалы о развитии технологий и их влиянии на нашу жизнь.</p>
        </div>
        <div class="projects__right_btn">
          <div class="projects__buttons">
            <a href="/articles/" class="btn articles__project">
              <span class="button__text">Подробнее</span>
              <span class="button__hover"></span>
            </a>
            <div class="projects__navigation">
              <div class="swiper-button-prev articles__prev swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-87d96ef44a0a96b2" aria-disabled="true">
                <div class="btn__arrow">
                  <div class="btn__side btn__side_hover">
                    <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.11099 4.18209C0.915723 4.37735 0.915723 4.69394 1.11099 4.8892L4.29297 8.07118C4.48823 8.26644 4.80481 8.26644 5.00007 8.07118C5.19533 7.87592 5.19533 7.55933 5.00007 7.36407L2.17165 4.53564L5.00007 1.70722C5.19533 1.51196 5.19533 1.19537 5.00007 1.00011C4.80481 0.804849 4.48823 0.804849 4.29297 1.00011L1.11099 4.18209ZM11.4645 4.03564L1.46454 4.03564V5.03564L11.4645 5.03564V4.03564Z" fill="currentColor"></path>
                    </svg>
                  </div>
                  <div class="btn__side btn__side_default">
                    <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.11099 4.18209C0.915723 4.37735 0.915723 4.69394 1.11099 4.8892L4.29297 8.07118C4.48823 8.26644 4.80481 8.26644 5.00007 8.07118C5.19533 7.87592 5.19533 7.55933 5.00007 7.36407L2.17165 4.53564L5.00007 1.70722C5.19533 1.51196 5.19533 1.19537 5.00007 1.00011C4.80481 0.804849 4.48823 0.804849 4.29297 1.00011L1.11099 4.18209ZM11.4645 4.03564L1.46454 4.03564V5.03564L11.4645 5.03564V4.03564Z" fill="currentColor"></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="swiper-button-next articles__next swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-87d96ef44a0a96b2" aria-disabled="true">
                <div class="btn__arrow">
                  <div class="btn__side btn__side_hover">
                    <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.8181 4.8892C11.0134 4.69394 11.0134 4.37735 10.8181 4.18209L7.63611 1.00011C7.44085 0.804849 7.12427 0.804849 6.929 1.00011C6.73374 1.19537 6.73374 1.51196 6.929 1.70722L9.75743 4.53564L6.929 7.36407C6.73374 7.55933 6.73374 7.87592 6.929 8.07118C7.12427 8.26644 7.44085 8.26644 7.63611 8.07118L10.8181 4.8892ZM0.464539 5.03564L10.4645 5.03564V4.03564L0.464539 4.03564L0.464539 5.03564Z" fill="currentColor"></path>
                    </svg>
                  </div>
                  <div class="btn__side btn__side_default">
                    <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.8181 4.8892C11.0134 4.69394 11.0134 4.37735 10.8181 4.18209L7.63611 1.00011C7.44085 0.804849 7.12427 0.804849 6.929 1.00011C6.73374 1.19537 6.73374 1.51196 6.929 1.70722L9.75743 4.53564L6.929 7.36407C6.73374 7.55933 6.73374 7.87592 6.929 8.07118C7.12427 8.26644 7.44085 8.26644 7.63611 8.07118L10.8181 4.8892ZM0.464539 5.03564L10.4645 5.03564V4.03564L0.464539 4.03564L0.464539 5.03564Z" fill="currentColor"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="articles__slider">
        <div class="articles__swiper swiper">
          <ul class="articles__list swiper-wrapper">
            {% for article in articles %}
              <li class="articles__item swiper-slide">
                <a href="/articles/{{ article.code }}/" class="articles__link">
                  <div class="articles__image">
                    <img src="/media/{{ article.preview_img }}" alt="">
                    <span class="articles__date">{{ article.created_at }}</span>
                  </div>
                  <div class="articles__info">
                    <h4 class="articles__head">{{ article.title }}</h4>
                    <p class="articles__desc">{{ article.preview }}</p>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}