{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="top" data-scroll-section id="top"></section>
<section class="projects parallax" data-scroll-section>
  <div class="projects__all_block">
    <div class="container projects__container">
      <div class="projects__all_flex">
        <div class="projects__top">
          <h1 class="projects__head">ПРОЕКТЫ</h1>
          <p class="projects__desc">Команда дизайнеров и программных инженеров разрабатываем функциональные продукты широкого круга от идеи до реализации.</p>
        </div>
        <div class="projects__filter">
          <ul class="projects__filter_list">
            <li class="projects__filter_item">
              <button class="projects__filter_button"><p>Отрасли<small>{{ industries_count }}</small></p>
                <span><svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.5L8.95181 8.5L16 1.5" stroke="currentColor" stroke-width="2"></path></svg></span>
              </button>
              <ul class="projects__filter_sublist">
                {% for industry in industries %}
                  <li class="projects__filter_subitem"><label class="btn projects__filter_label"><span class="button__text button__count">{{ industry.name }}<small>{{ industry.project_count }}</small></span><span class="button__hover"></span><input class="projects__filter_check" type="checkbox" value="{{ industry.id }}"></label></li>
                {% endfor %}
              </ul>
            </li>
            <li class="projects__filter_item">
              <button class="projects__filter_button"><p>Тип сайта<small>{{ types_count }}</small></p>
                <span><svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.5L8.95181 8.5L16 1.5" stroke="currentColor" stroke-width="2"></path></svg></span>
              </button>
              <ul class="projects__filter_sublist">
                {% for type in types %}
                  <li class="projects__filter_subitem"><label class="btn projects__filter_label"><span class="button__text button__count">{{ type.name }}<small>{{ type.project_count }}</small></span><span class="button__hover"></span><input class="projects__filter_check" type="checkbox" value="{{ type.id }}"></label></li>
                {% endfor %}
              </ul>
            </li>
            <li class="projects__filter_item">
              <button class="projects__filter_button"><p>Услуги<small>{{ services_count }}</small></p>
                <span><svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.5L8.95181 8.5L16 1.5" stroke="currentColor" stroke-width="2"></path></svg></span>
              </button>
              <ul class="projects__filter_sublist">
                {% for service in services %}
                  <li class="projects__filter_subitem"><label class="btn projects__filter_label"><span class="button__text button__count">{{ service.name }}<small>{{ service.project_count }}</small></span><span class="button__hover"></span><input class="projects__filter_check" type="checkbox" value="{{ service.id }}"></label></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <button class="projects__filter_clear"><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.677238 12.1401C0.420219 12.3971 0.420219 12.8138 0.677238 13.0708C0.934257 13.3278 1.35097 13.3278 1.60799 13.0708L6.72705 7.95175L11.8461 13.0708C12.1031 13.3278 12.5198 13.3278 12.7769 13.0708C13.0339 12.8138 13.0339 12.3971 12.7769 12.1401L7.6578 7.021L12.777 1.90183C13.034 1.64481 13.034 1.2281 12.777 0.971084C12.5199 0.714065 12.1032 0.714066 11.8462 0.971085L6.72705 6.09025L1.60789 0.971091C1.35087 0.714072 0.934158 0.714072 0.677139 0.971091C0.42012 1.22811 0.42012 1.64482 0.677139 1.90184L5.7963 7.021L0.677238 12.1401Z" fill="currentColor"></path></svg>Очистить всё</button>
        </div>
      </div>
      <ul class="projects__list">
        {% for project in projects %} 
        <li class="projects__item">
          <a href="/projects/{{ project.id }}/" class="projects__link">
            <div class="projects__image">
              <img src="/media/{{ project.intro_image }}" alt="">
              <div class="btn__arrow projects__arrow">
                <div class="btn__side btn__side_hover">
                  <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.928932 0.928993C0.65279 0.928993 0.428932 1.15285 0.428932 1.42899L0.428932 5.92899C0.428932 6.20514 0.65279 6.42899 0.928932 6.42899C1.20507 6.42899 1.42893 6.20514 1.42893 5.92899L1.42893 1.92899L5.42893 1.92899C5.70507 1.92899 5.92893 1.70514 5.92893 1.42899C5.92893 1.15285 5.70507 0.928993 5.42893 0.928993L0.928932 0.928993ZM8.35355 8.14651L1.28249 1.07544L0.575379 1.78255L7.64645 8.85361L8.35355 8.14651Z" fill="currentColor"></path>
                  </svg>
                </div>
                <div class="btn__side btn__side_default">
                  <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.928932 0.928993C0.65279 0.928993 0.428932 1.15285 0.428932 1.42899L0.428932 5.92899C0.428932 6.20514 0.65279 6.42899 0.928932 6.42899C1.20507 6.42899 1.42893 6.20514 1.42893 5.92899L1.42893 1.92899L5.42893 1.92899C5.70507 1.92899 5.92893 1.70514 5.92893 1.42899C5.92893 1.15285 5.70507 0.928993 5.42893 0.928993L0.928932 0.928993ZM8.35355 8.14651L1.28249 1.07544L0.575379 1.78255L7.64645 8.85361L8.35355 8.14651Z" fill="currentColor"></path>
                  </svg>
                </div>
              </div>
            </div>
            <div class="projects__info">
              <p class="projects__description">{{ project.name }}</p>
              <h4 class="projects__heading">{{ project.intro_text }}</h4>
              <ul class="projects_tags">
                {% for service in project.services.all %} 
                  <li class="projects_tags__item">{{ service.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock %}