{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="top" data-scroll-section id="top"></section>
<section class="services_top" data-scroll-section>
  <div class="container services_top__container">
    <div class="services_top__block">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link text">Главная</a></li>
        <li class="breadcrumbs__item"><a href="/articles/" class="breadcrumbs__link text">Медиа</a></li>
        <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link text">{{ article.title }}</a></li>
      </ul>
      <div class="services_top__info">
        <div class="services_top__left">
          <p class="rubik">About us</p>
        </div>
        <div class="services_top__right">
          <h1 class="services_top__head title_two">{{ content.title|default:"ПРОФЕССИОНАЛЬНАЯ команда, ВНИМАТЕЛЬНАЯ К ДЕТАЛЯМ" }}</h1>
          <div class="services_top__desc">{{ content.description|safe|default:"<p>Мы — высокоэффективная команда, специализирующаяся на дизайне, разработке и поддержке веб-сервисов и Telegram mini apps. Мы являемся цифровым партнером для бизнеса, предлагая современные и функциональные решения для достижения ваших целей.</p>" }}</div> 
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services" data-scroll-section>
  <div class="services__block">
    <div class="container services__container">
      <div class="services__flex">
        <div class="services__number">
          01
        </div>
        <div class="services__left">
          <h3 class="services__head title_two">Аналитика</h3>
          <p class="services__desc">Проводим опросы респондентов, выявляем эмпатию, анализируем аудиторию и конкурентов, создавая всю необходимую базу для старта или улучшения вашего проекта.</p>
          <ul class="services__list_left">
            <li class="services__item"><p>Исследование пользователей</p></li>
            <li class="services__item"><p>Аудит пользовательского опыта</p></li>
            <li class="services__item"><p>Стратегия продукта</p></li>
            <li class="services__item"><p>Проетная документация</p></li>
          </ul>
          </div>
          <div class="services__img">
            <img src="{% static '/img/services/services_1.svg' %}">
          </div>
          <div class="services__arrow">
            <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs/>
              <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
            </svg>                
          </div>
      </div>
    </div>
  </div>
  <div class="services__block">
    <div class="container services__container">
      <div class="services__flex">
        <div class="services__number">
          02
        </div>
        <div class="services__left">
          <h3 class="services__head title_two">Дизайн продукта</h3>
          <p class="services__desc">Создаем продающие и функциональные интерфейсы, которые не только привлекают внимание, но и обеспечивают высокую конверсию.</p>
          <ul class="services__list_left">
            <li class="services__item"><p>Прототипирование</p></li>
            <li class="services__item"><p>Адаптивные макеты</p></li>
            <li class="services__item"><p>Дизайн системы</p></li>
          </ul>
          </div>
          <div class="services__img">
            <img src="{% static '/img/services/services_2.svg' %}">
          </div>
          <div class="services__arrow">
            <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs/>
              <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
            </svg>                
          </div>
      </div>
    </div>
  </div>
  <div class="services__block">
    <div class="container services__container">
      <div class="services__flex">
        <div class="services__number">
          03
        </div>
        <div class="services__left">
          <h3 class="services__head title_two">Веб-производство</h3>
          <p class="services__desc">Создаем высокотехнологичные веб-приложения и сайты, используя лучшие веб-технологии на рынке.</p>
          <ul class="services__list_left">
            <li class="services__item"><p>Копроративные решения</p></li>
            <li class="services__item"><p>E-commerce</p></li>
            <li class="services__item"><p>Web-apps</p></li>
            <li class="services__item"><p>Telegram mini apps</p></li>
          </ul>
          </div>
          <div class="services__img">
            <img src="{% static '/img/services/services_3.svg' %}">
          </div>
          <div class="services__arrow">
            <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs/>
              <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
            </svg>                
          </div>
      </div>
    </div>
  </div>
  <div class="services__block">
    <div class="container services__container">
      <div class="services__flex">
        <div class="services__number">
          04
        </div>
        <div class="services__left">
          <h3 class="services__head title_two">Поддержка и развитие</h3>
          <p class="services__desc">Мы не просто запускаем проекты, мы заботимся о них на всех этапах жизни. Обеспечиваем оперативную техническую поддержку, совершенствуем функционал и адаптируем продукт к меняющейся команде.</p>
          <ul class="services__list_left">
            <li class="services__item"><p>Техническая поддержка</p></li>
            <li class="services__item"><p>Обновления и улучшения</p></li>
            <li class="services__item"><p>Мониторинг</p></li>
            <li class="services__item"><p>Анализ и рекомендации</p></li>
          </ul>
          </div>
          <div class="services__img">
            <img src="{% static '/img/services/services_4.svg' %}">
          </div>
          <div class="services__arrow">
            <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs/>
              <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
            </svg>                
          </div>
      </div>
    </div>
  </div>
  <div class="services__block">
    <div class="container services__container">
      <div class="services__flex">
        <div class="services__number">
          05
        </div>
        <div class="services__left">
          <h3 class="services__head title_two">Маркетинг</h3>
          <p class="services__desc">Мы не просто запускаем проекты, мы заботимся о них на всех этапах жизни. Обеспечиваем оперативную техническую поддержку, совершенствуем функционал и адаптируем продукт к меняющейся команде.</p>
          <ul class="services__list_left">
            <li class="services__item"><p>Техническая поддержка</p></li>
            <li class="services__item"><p>Обновления и улучшения</p></li>
            <li class="services__item"><p>Мониторинг</p></li>
            <li class="services__item"><p>Анализ и рекомендации</p></li>
          </ul>
          </div>
          <div class="services__img">
            <img src="{% static '/img/services/services_4.svg' %}">
          </div>
          <div class="services__arrow">
            <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs/>
              <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
            </svg>                
          </div>
      </div>
    </div>
  </div>
</section>
<section class="expertise" data-scroll-section>
  <div class="expertise__border"></div>
  <div class="container expertise__container">
    <div class="expertise__block">
      <div class="expertise__left">
        <button class="expertise__button">
          <h4 class="expertise__heading">FIX PRICE</h4>
          <div class="btn__arrow expertise__btn">
            <div class="btn__side btn__side_hover">
              <svg width="37.222656" height="36.380859" viewBox="0 0 37.2227 36.3809" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs/>
                <rect id="stay=Default" width="37.185303" height="36.344238" transform="translate(37.185547 36.380859) rotate(-179.942764)" fill="#FFFFFF" fill-opacity="0"/>
                <path id="Линия 4" d="M27.81 9L9.41 27.37M28 27.18L9.41 27.37L9.21 9.2" stroke="#63606D" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
              </svg>
            </div>
            <div class="btn__side btn__side_default">
              <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs/>
                <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
              </svg>                  
            </div>
          </div>
        </button>
        <div class="expertise__panel">
          <p class="body_long"> 
            &bull; Для понятных и прозрачных проектов, где можно максимально точно просчитать бюджет и сроки выполнения; <br>
            &bull; Работаем по методологии Waterfall или Scrum; <br>
            &bull; Оплата за каждый этап 50/50%;<br>
            &bull; полностью фиксированные условия без гибкости.<br>
          </p>
        </div>
        <button class="expertise__button">
          <h4 class="expertise__heading">TIME &amp; MATERIALS</h4>
          <div class="btn__arrow expertise__btn">
            <div class="btn__side btn__side_hover">
              <svg width="37.222656" height="36.380859" viewBox="0 0 37.2227 36.3809" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs/>
                <rect id="stay=Default" width="37.185303" height="36.344238" transform="translate(37.185547 36.380859) rotate(-179.942764)" fill="#FFFFFF" fill-opacity="0"/>
                <path id="Линия 4" d="M27.81 9L9.41 27.37M28 27.18L9.41 27.37L9.21 9.2" stroke="#63606D" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
              </svg>
            </div>
            <div class="btn__side btn__side_default">
              <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs/>
                <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
              </svg>                  
            </div>
          </div>
        </button>
        <div class="expertise__panel">
          <p class="body_long"> 
            &bull; Для понятных и прозрачных проектов, где можно максимально точно просчитать бюджет и сроки выполнения; <br>
            &bull; Работаем по методологии Waterfall или Scrum; <br>
            &bull; Оплата за каждый этап 50/50%;<br>
            &bull; полностью фиксированные условия без гибкости.<br>
          </p>
        </div>
        <button class="expertise__button">
          <h4 class="expertise__heading">RETENTION</h4>
          <div class="btn__arrow expertise__btn">
            <div class="btn__side btn__side_hover">
              <svg width="37.222656" height="36.380859" viewBox="0 0 37.2227 36.3809" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs/>
                <rect id="stay=Default" width="37.185303" height="36.344238" transform="translate(37.185547 36.380859) rotate(-179.942764)" fill="#FFFFFF" fill-opacity="0"/>
                <path id="Линия 4" d="M27.81 9L9.41 27.37M28 27.18L9.41 27.37L9.21 9.2" stroke="#63606D" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
              </svg>
            </div>
            <div class="btn__side btn__side_default">
              <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs/>
                <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
              </svg>                  
            </div>
          </div>
        </button>
        <div class="expertise__panel">
          <p class="body_long"> 
            &bull; Для понятных и прозрачных проектов, где можно максимально точно просчитать бюджет и сроки выполнения; <br>
            &bull; Работаем по методологии Waterfall или Scrum; <br>
            &bull; Оплата за каждый этап 50/50%;<br>
            &bull; полностью фиксированные условия без гибкости.<br>
          </p>
        </div>
      </div>
      <div class="expertise__right">
        <div class="expertise__flex">
          <h2 class="expertise__head">Схемы сотрудничества</h2>
          <p class="expertise__desc">Придерживаемся партнёрских и долгосрочных отношений со своими клиентами и работаем на результат</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}