{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="top" data-scroll-section id="top"></section>
<section class="services_top" data-scroll-section>
  <div class="container services_top__container">
    <div class="services_top__block">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link text">Главная</a></li>
        <li class="breadcrumbs__item"><a href="/services/" class="breadcrumbs__link text">Услуги</a></li>
      </ul>
      <div class="services_top__info">
        <div class="services_top__left">
          <p class="rubik">Услуги</p>
        </div>
        <div class="services_top__right">
          <h1 class="services_top__head title_two">{{ content.title|default:"ПРОФЕССИОНАЛЬНАЯ команда, ВНИМАТЕЛЬНАЯ К ДЕТАЛЯМ" }}</h1>
          <div class="services_top__desc">{{ content.description|safe|default:"<p>Мы — высокоэффективная команда, специализирующаяся на дизайне, разработке и поддержке веб-сервисов и Telegram mini apps. Мы являемся цифровым партнером для бизнеса, предлагая современные и функциональные решения для достижения ваших целей.</p>" }}</div> 
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services" data-scroll-section>
  <div class="services__block">
    <div class="container services__container">
      <div class="services__flex">
        <div class="services__number">
          01
        </div>
        <div class="services__left">
          <h3 class="services__head title_two">Аналитика</h3>
          <p class="services__desc">Проводим опросы респондентов, выявляем эмпатию, анализируем аудиторию и конкурентов, создавая всю необходимую базу для старта или улучшения вашего проекта.</p>
          <ul class="services__list_left">
            <li class="services__item"><p>Исследование пользователей</p></li>
            <li class="services__item"><p>Аудит пользовательского опыта</p></li>
            <li class="services__item"><p>Стратегия продукта</p></li>
            <li class="services__item"><p>Проетная документация</p></li>
          </ul>
          </div>
          <div class="services__img">
            <img src="{% static '/img/services/services_1.svg' %}">
          </div>
          <div class="services__arrow">
            <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs/>
              <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
            </svg>                
          </div>
      </div>
    </div>
  </div>
  <div class="services__block">
    <div class="container services__container">
      <div class="services__flex">
        <div class="services__number">
          02
        </div>
        <div class="services__left">
          <h3 class="services__head title_two">Дизайн продукта</h3>
          <p class="services__desc">Создаем продающие и функциональные интерфейсы, которые не только привлекают внимание, но и обеспечивают высокую конверсию.</p>
          <ul class="services__list_left">
            <li class="services__item"><p>Прототипирование</p></li>
            <li class="services__item"><p>Адаптивные макеты</p></li>
            <li class="services__item"><p>Дизайн системы</p></li>
          </ul>
          </div>
          <div class="services__img">
            <img src="{% static '/img/services/services_2.svg' %}">
          </div>
          <div class="services__arrow">
            <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs/>
              <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
            </svg>                
          </div>
      </div>
    </div>
  </div>
  <div class="services__block">
    <div class="container services__container">
      <div class="services__flex">
        <div class="services__number">
          03
        </div>
        <div class="services__left">
          <h3 class="services__head title_two">Веб-производство</h3>
          <p class="services__desc">Создаем высокотехнологичные веб-приложения и сайты, используя лучшие веб-технологии на рынке.</p>
          <ul class="services__list_left">
            <li class="services__item"><p>Копроративные решения</p></li>
            <li class="services__item"><p>E-commerce</p></li>
            <li class="services__item"><p>Web-apps</p></li>
            <li class="services__item"><p>Telegram mini apps</p></li>
          </ul>
          </div>
          <div class="services__img">
            <img src="{% static '/img/services/services_3.svg' %}">
          </div>
          <div class="services__arrow">
            <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs/>
              <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
            </svg>                
          </div>
      </div>
    </div>
  </div>
  <div class="services__block">
    <div class="container services__container">
      <div class="services__flex">
        <div class="services__number">
          04
        </div>
        <div class="services__left">
          <h3 class="services__head title_two">Поддержка и развитие</h3>
          <p class="services__desc">Мы не просто запускаем проекты, мы заботимся о них на всех этапах жизни. Обеспечиваем оперативную техническую поддержку, совершенствуем функционал и адаптируем продукт к меняющейся команде.</p>
          <ul class="services__list_left">
            <li class="services__item"><p>Техническая поддержка</p></li>
            <li class="services__item"><p>Обновления и улучшения</p></li>
            <li class="services__item"><p>Мониторинг</p></li>
            <li class="services__item"><p>Анализ и рекомендации</p></li>
          </ul>
          </div>
          <div class="services__img">
            <img src="{% static '/img/services/services_4.svg' %}">
          </div>
          <div class="services__arrow">
            <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs/>
              <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
            </svg>                
          </div>
      </div>
    </div>
  </div>
  <div class="services__block">
    <div class="container services__container">
      <div class="services__flex">
        <div class="services__number">
          05
        </div>
        <div class="services__left">
          <h3 class="services__head title_two">Маркетинг</h3>
          <p class="services__desc">Мы не просто запускаем проекты, мы заботимся о них на всех этапах жизни. Обеспечиваем оперативную техническую поддержку, совершенствуем функционал и адаптируем продукт к меняющейся команде.</p>
          <ul class="services__list_left">
            <li class="services__item"><p>Техническая поддержка</p></li>
            <li class="services__item"><p>Обновления и улучшения</p></li>
            <li class="services__item"><p>Мониторинг</p></li>
            <li class="services__item"><p>Анализ и рекомендации</p></li>
          </ul>
          </div>
          <div class="services__img">
            <img src="{% static '/img/services/services_4.svg' %}">
          </div>
          <div class="services__arrow">
            <svg width="20.806641" height="20.345703" viewBox="0 0 20.8066 20.3457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs/>
              <path id="Линия 4" d="M1.19 19.35L19.6 0.98M1.01 1.17L19.6 0.98L19.79 19.15" stroke="#544BE0" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round"/>
            </svg>                
          </div>
      </div>
    </div>
  </div>
</section>

{% if accordion %}
<section class="expertise" data-scroll-section>
  <div class="expertise__border"></div>
  <div class="container expertise__container">
    <div class="expertise__block">
      <div class="expertise__left">
        <div class="expertise__flex">
          <h2 class="expertise__head">{{ accordion.title }}</h2>
          <div class="expertise__desc">{{ accordion.description|safe }}</div>
        </div>
      </div>
      <p class="expertise__arrow">
        Наши компетенции
        <span>
          <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM1 4.5L11 4.5V3.5L1 3.5V4.5Z" fill="currentColor"></path>
          </svg>
        </span>
      </p>
      <div class="expertise__right">
        {% for item in accordion.accordion_items.all %}
        <button class="expertise__button">
          <h4 class="expertise__heading">{{ item.title }}</h4>
          <div class="btn__arrow expertise__btn">
            <div class="btn__side btn__side_hover">
              <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.928932 0.928993C0.65279 0.928993 0.428932 1.15285 0.428932 1.42899L0.428932 5.92899C0.428932 6.20514 0.65279 6.42899 0.928932 6.42899C1.20507 6.42899 1.42893 6.20514 1.42893 5.92899L1.42893 1.92899L5.42893 1.92899C5.70507 1.92899 5.92893 1.70514 5.92893 1.42899C5.92893 1.15285 5.70507 0.928993 5.42893 0.928993L0.928932 0.928993ZM8.35355 8.14651L1.28249 1.07544L0.575379 1.78255L7.64645 8.85361L8.35355 8.14651Z" fill="currentColor"></path>
              </svg>
            </div>
            <div class="btn__side btn__side_default">
              <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.928932 0.928993C0.65279 0.928993 0.428932 1.15285 0.428932 1.42899L0.428932 5.92899C0.428932 6.20514 0.65279 6.42899 0.928932 6.42899C1.20507 6.42899 1.42893 6.20514 1.42893 5.92899L1.42893 1.92899L5.42893 1.92899C5.70507 1.92899 5.92893 1.70514 5.92893 1.42899C5.92893 1.15285 5.70507 0.928993 5.42893 0.928993L0.928932 0.928993ZM8.35355 8.14651L1.28249 1.07544L0.575379 1.78255L7.64645 8.85361L8.35355 8.14651Z" fill="currentColor"></path>
              </svg>
            </div>
          </div>
        </button>
        <div class="expertise__panel">
          <div class="body_long">{{ item.content|safe }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}